// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.project {
	min-height: 600px;
	background-size: cover;
	background-position: center; 
	text-align: center;

	& .project-company {
		font-family: sans-serif;
		color: #FFF;
		text-transform: uppercase;
		padding-top: 200px;
	}

	& .project-title {
		font-size: 60px;
		font-family: serif;
		color: #FFF;
		padding-top: 30px;
		padding-bottom: 80px;

	}

}


