<header>

<div class="row">

	<span>
		<%= link_to '/' do %>
			<img class="header-logo" src="logo.gif">
		<% end %>
	</span>
	<span class="header-links">
		<%= link_to "Work", '/work' %>
	</span>
	<span class="header-links">
		<%= link_to "Labs", '/labs' %>
	</span>
	<span class="header-links">
		<%= link_to "About", '/about' %>
	</span>
	
</div>

</header>